@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Angkor&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: 'Inter', sans-serif;
}

:root {
  --black: #000;
  --white: #fff;
  --lightgray: #f2f2f2;
  --gray: #cccccc;
  --darkgray: #808080;
  --green: #009933;
  --blue: #0099ff;
  --red: #ff0000;
}

.container {
  display: flex;
  height: 100%;
}

.image-sidebar {
  flex: 1;
  background: url(images/plant.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 2;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: 'Angkor', cursive;
  top: 15%;
  padding: 20px;
  gap: 10px;
  font-size: 2.5rem;
  color: var(--white);
  background: rgba(0, 0, 0, 0.5);
}

.logo {
  width: 80px;
}

.description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  flex: 1;
  padding: 20px;
  background: var(--lightgray);
}

.form-container {
  flex: 1;
  padding: 20px;
  background: var(--white);
  box-shadow: 0px 0px 5px var(--gray), 0px 2px 5px var(--gray);
  z-index: 1;
}

.button-container {
  flex: 1;
  padding: 20px;
  background: var(--lightgray);
}

.form > .wrapper {
  display: flex;
  gap: 50px;
  padding: 20px 0px;
}

legend {
  font-size: 1.1rem;
  font-weight: 900;
}

label {
  font-size: 0.85rem;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
  font-family: 'Inter', sans-serif;
  border-radius: 5px;
  padding: 8px 10px;
  width: 250px;
  border: 1px var(--gray) solid;
  box-shadow: 2px 2px 5px var(--gray);
}

input:valid {
  border: 1px var(--green) solid;
}

input:invalid {
  border: 1px var(--red) solid;
}

input:focus {
  border: 1px var(--blue) solid;
  outline: none;
}

.submit-btn {
  font-family: 'Inter', sans-serif;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 10px;
  color: var(--white);
  background: #009933;
  border: none;
  box-shadow: 1px 1px 4px var(--darkgray);
}

.login-wrapper {
  padding: 10px 0px;
}

.login {
  cursor: pointer;
  color: var(--green);
}

@media screen and (max-width: 900px) {
  .container {
    flex-direction: column;
  }

  .logo-container {
    top: 0;
  }
}

@media screen and (max-width: 600px) {
  .form > .wrapper {
    flex-direction: column;
    align-items: center;
  }
}
